# Alura Challenge Data Science

## Imports

In [28]:
import pandas as pd
import numpy as np

## ETL

In [43]:
dados_mutuarios = pd.read_csv('Dados/dados_mutuarios.csv')

In [44]:
emprestimos = pd.read_csv('Dados/emprestimos.csv')

In [45]:
historicos_banco = pd.read_csv('Dados/historicos_banco.csv')

In [46]:
ids = pd.read_csv('Dados/id.csv')

### Análise Inicial - Dados Mutuarios

In [6]:
dados_mutuarios.head()

,person_id,person_age,person_income,person_home_ownership,person_emp_length
0,tad8vkTn-vp4l,33.0,48000.0,Rent,17.0
1,dEILQqp2-lgLx,24.0,75000.0,Own,0.0
2,Az11sWWw-SdFA,29.0,28800.0,Rent,5.0
3,YDovEwBH-0eek,23.0,75000.0,Mortgage,7.0
4,lNsbfwlP-gzOE,26.0,35000.0,Rent,0.0

- Person_id: Id do solicitante (Qualitativo Nominal)
- person_Age: Idade da pessoa - em anos - que solicita empréstimo (Quantitativo Discreto)
- person_income: salário anual da pessoa solicitante (Quantitativo discreto)
- person_home_ownership: Situação da propriedade que a pessoa possui: Alugada, Própria, Hipotecada e Outros (Qualitativo Nominal)
- person_emp_length: Tempo - em  anos - que a pessoa trabalhou (Qualitativo Ordinal)

In [7]:
dados_mutuarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34489 entries, 0 to 34488
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   person_id              34485 non-null  object
 1   person_age             34168 non-null  float64
 2   person_income          34153 non-null  float64
 3   person_home_ownership  34158 non-null  object
 4   person_emp_length      33235 non-null  float64
dtypes: float64(3), object(2)
memory usage: 1.3+ MB

### Análise Inicial - Emprestimos

In [18]:
emprestimos.head()

,loan_id,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income
0,NMgFWFWN-2yGG,Homeimprovement,C,20000.0,13.22,0.0,0.22
1,08Ts3XSa-KkvE,Venture,C,6000.0,13.49,0.0,0.04
2,xo79pAME-elmp,Personal,A,8000.0,6.17,0.0,0.13
3,IB6lBS2h-nWhz,Homeimprovement,B,9600.0,10.08,0.0,0.16
4,CONLtJHn-1yde,Medical,A,6500.0,8.49,0.0,0.30

- loan_id: id da solicitação de emprestimo de cada user 
- loan_intent: Motivo do empréstimo:  Pessoal (Personal), Educativo (Education), Médico (Medical), Empreendimento (Venture), Melhora do lar (Homeimprovement), Pagamento de débitos (Debtconsolidation) (Qualitativo Nominal)
- loan_grade: Pontuação de empréstimos, por nível variando de A a G  (Qualitativo Ordinal)
- loan_amnt: Valor total do empréstimo solicitado (Quantitativo discreto)
- loan_int_rate: Taxa de Juros (Quantitativo Contínuo)
- loan_status: Possibilidade de inadimplência (Qualitativo Nominal)
- loan_percent_income: Renda Percentual entre o valor total do empréstimo e o salário anual.  (Quantitativa Ordinal)

In [9]:
emprestimos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34489 entries, 0 to 34488
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   loan_id              34489 non-null  object
 1   loan_intent          34177 non-null  object
 2   loan_grade           34179 non-null  object
 3   loan_amnt            34158 non-null  float64
 4   loan_int_rate        30862 non-null  float64
 5   loan_status          34146 non-null  float64
 6   loan_percent_income  34173 non-null  float64
dtypes: float64(4), object(3)
memory usage: 1.8+ MB

### Análise Inicial - historicos_banco

In [10]:
historicos_banco.head()

           cb_id cb_person_default_on_file  cb_person_cred_hist_length
0  ZNWGR0Ap-FDt2                         N                         9.0
1  wqALDH4x-mnzE                         N                         7.0
2  57O09sJw-NBKj                         N                         6.0
3  pH50QiTJ-0jqz                         Y                        10.0
4  3voX5CIK-tCxE                         N                        12.0

- cb_id: ID do histórico de cada solicitante (Qualitativo Nominal)
- cb_person_default_on_file: Indica se a pessoa já foi inadimplente: sim(Y,YES) e não (N, NO) (Qualitativo nominal)
- cb_person_cred_hist_length: Tempo - em anos - desde a primeira solicitação de crédito ou aquisição de um cartão de crédito (Qualitativo ordinal)

In [11]:
historicos_banco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34489 entries, 0 to 34488
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   cb_id                       34489 non-null  object
 1   cb_person_default_on_file   34122 non-null  object
 2   cb_person_cred_hist_length  34488 non-null  float64
dtypes: float64(1), object(2)
memory usage: 808.5+ KB

### Análise Inicial - ids

In [12]:
ids.head()

       person_id        loan_id          cb_id
0  JAz2tRvQ-14cy  pjEu6snv-4t33  FIgNSkrG-wen7
1  MZSefq9m-loYS  Mfn0Csx4-LGM3  QPDJUQfQ-DJqK
2  cRItaaPB-pRvT  Ks4nz74P-z6Iq  hzAXqSDh-ay7Q
3  5jTDCfXS-zaAq  ZFlwW08i-I3Al  LiAivrS4-J5DE
4  Hbz9PtI3-tOFs  bFMFchcv-UwQW  PkBixMJ3-3bad

- person_id: ID da pessoa solicitante (Qualitativo Nominal)
- loan_id: ID da solicitação de empréstico de cada solicitante  (Qualitativo Nominal)
- cb_id: ID do histórico de cada solicitante (Qualitativo Nominal)

In [20]:
ids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14952 entries, 0 to 14951
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person_id  14952 non-null  object
 1   loan_id    14952 non-null  object
 2   cb_id      14952 non-null  object
dtypes: object(3)
memory usage: 350.6+ KB

### Unindo os dados

In [21]:
df = pd.merge(ids,dados_mutuarios, how='left', on='person_id')

In [23]:
df =  pd.merge(df,emprestimos, how='left', on='loan_id')

In [25]:
df =  pd.merge(df,historicos_banco, how='left', on='cb_id')

### Validando os dados nullos

In [32]:
df = df.replace(pd.NA, np.nan)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14952 entries, 0 to 14951
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_id                   14952 non-null  object
 1   loan_id                     14952 non-null  object
 2   cb_id                       14952 non-null  object
 3   person_age                  14819 non-null  float64
 4   person_income               14809 non-null  float64
 5   person_home_ownership       14800 non-null  object
 6   person_emp_length           14389 non-null  float64
 7   loan_intent                 14844 non-null  object
 8   loan_grade                  14828 non-null  object
 9   loan_amnt                   14813 non-null  float64
 10  loan_int_rate               13384 non-null  float64
 11  loan_status                 14795 non-null  float64
 12  loan_percent_income         14812 non-null  float64
 13  cb_person_default_on_file   14791 non-null  object
 14  cb_person_cred_hist_length  14952 non-null  float64
dtypes: float64(8), object(7)
memory usage: 1.8+ MB

In [36]:
df.head()

,person_id,loan_id,cb_id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,JAz2tRvQ-14cy,pjEu6snv-4t33,FIgNSkrG-wen7,NaN,41160.0,Rent,2.0,Debtconsolidation,A,6500.0,13.57,0.0,NaN,Y,2.0
1,MZSefq9m-loYS,Mfn0Csx4-LGM3,QPDJUQfQ-DJqK,22.0,29000.0,Mortgage,5.0,Debtconsolidation,B,9000.0,NaN,1.0,0.31,N,4.0
2,cRItaaPB-pRvT,Ks4nz74P-z6Iq,hzAXqSDh-ay7Q,31.0,19968.0,Rent,1.0,Education,B,2500.0,9.62,1.0,0.13,N,6.0
3,5jTDCfXS-zaAq,ZFlwW08i-I3Al,LiAivrS4-J5DE,29.0,73000.0,Rent,1.0,Homeimprovement,B,5000.0,12.42,0.0,NaN,NaN,11.0
4,Hbz9PtI3-tOFs,bFMFchcv-UwQW,PkBixMJ3-3bad,29.0,42000.0,Rent,4.0,Venture,G,1600.0,19.16,0.0,0.04,Y,6.0

In [41]:
df = df.rename(columns={'loan_int_rate':'loan_rate','person_emp_length':'time_emp','loan_amnt':'loan_solicitated', 'loan_status':'loan_prob_fraud', 'cb_person_default_on_file':'person_default','cb_person_cred_hist_length':'time_last_cred_hist'})

In [48]:
df.to_csv('Dados/dataset_merged.csv', index=None)